body {background-color: rgb(233, 122, 174);}

h1{
    color: rgb(0, 9, 128)
}

h1{
    font-size: 50px;
}

h2{
    font-size:30px;
}
h2{
    color:green
}

section {
    float: left;
    margin: 0 1.5%;
    width:33%;
  }

aside {
    float: right;
    
    
  }

  footer {
    clear: both;
  }
  
  