/* 
three different ways you can use these?
-inline styling: using a style attribute on a tag to add in line styles
- internal styles: using style tag in the head tag to put your css classes there
-external style sheets: these are linked using the link tag in the head with the rel="stylesheet" href="*filename*" attributes

style paths:  relative and absolute
-absolute: the entire file path from origin
-relative: the file path from the directory where the file is already in to the final place it is needed

*/
p {
    color:rgb(255, 0, 0);
    font-size:19px;
    /* this is a declaration^.  each has a property and value pair */
}

h1{
    color:rgb(45, 196, 223);
}

/* id selector */

#Top-of-Page{
    color: rgb(15, 236, 107);
}
/* the top of page id overrides the h1 because it is more specific */

/* class selector */

.my-class{
    color:grey;
}

.another-class{
    font-size:20px;
}
/* group selectors*/

p, h1, h6{
    font-family:sans-serif;
}