html, body {
    height: 100%;
}

/* Style the header */
.header {
    padding: 10px 16px;
    background: #003865;
    color: #fff;
    text-align: center;
    border-bottom: solid 4px #E87722;
    height: 100px;
}

.header h1 {
    font-family: 'Great Vibes'; 
    font-weight: normal; 
    font-style: normal; 
    font-size: 70px;
    margin: 15px;
    text-decoration: none;
}

.main {
    height: match-parent;
    width: 100%;
    height: calc(100% - 124px);
    display: block;
    margin: 0;
    padding: 0;
}

.nav {
    float: left;
    display: block;
    height: 100%;
    background-color: #f1f1f1;
    margin: 0;
    width: 200px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    text-align: center;
}

.nav ul li {
    border-radius: 2px;
}

.nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: solid 2px #E87722;
}

.nav li a.active {
    background-color: #a6cbe9;
}

/* Change the link color on hover */
.nav li a:hover {
    background-color: #003865;
    color: white;
}

.nav > div {
    vertical-align: bottom;
}

.nav img {
    vertical-align: bottom;
    display: inline;
}

.content {
    float: left;
    margin: 0;
    display: block;
    padding: 16px;
    overflow-y: auto;
    width: calc(100% - 232px);
    /* height: calc(100% - 124px); */
    height: calc(100% - 33px);
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.parallax { 
    /* The image used */
    background-image: url("https://www.bucknell.edu/images/Depts/2016News/January/Quad1440x960.jpg");

    /* Set a specific height */
    /* height: 100%;  */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

fieldset {
    font-family: sans-serif;
    border: 5px solid #E87722;
    background: #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 20px 50px 25px;
}

fieldset legend {
    background: #003865;
    color: #fff;
    padding: 5px 10px ;
    font-size: 28px;
    border-radius: 5px;
    border-color: #003865;
    box-shadow: 0 0 0 5px #ddd;
    margin-left: 20px;
    cursor: context-menu;
}

.large-image {
    width: 80%;
    border-radius: 5px;
    border: 5px solid #003865;
}

hr {
    border: 0;
    border-top: 3px solid #003865;
}

body {
    padding: 0;
    margin: 0;
}

ul.four-columns {
    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
    list-style-type: none;
}

input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="password"],
textarea,
select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #003865;
    background: transparent;
    margin-bottom: 10px;
    font: 14px Arial, Helvetica, sans-serif;
    min-height: 45px;
    height: auto;
}
textarea{
    resize:none;
    overflow: hidden;
}
input[type="button"], 
input[type="reset"],
input[type="submit"]{
    background: #003865;
    color: #fff;
    padding: 5px 10px ;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #ddd;
    margin-left: 20px;    
}
input[type="button"]:hover, 
input[type="submit"]:hover
input[type="reset"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    border: solid 5px #003865;
    padding-bottom: 5px;
}

.card p { 
    font-size: 14px; 
    margin: 0;
}

.card h4 { margin: 5px; }

.card img {
    background-color: white;
    width: 100%;
}

.card:hover {
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.4);
}

.container {
    padding: 2px 16px;
    height: auto;
}

.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px,3fr));
    grid-auto-rows: 50px;
    text-align: center;
}

div.column-2 {
    float: left;
    width: 50%;
}

div.column-3 {
    float: left;
    width: 33%;
}

ul.column-2 {
    column-count: 2; 
    list-style-type: none; 
    text-align: center; 
    padding-left: 0; 
    font-weight: bold;
}

ul.column-3 {
    column-count: 3; 
    list-style-type: none; 
    text-align: center; 
    padding-left: 0; 
    font-weight: bold;
}

ul.column-4 {
    column-count: 4; 
    list-style-type: none; 
    text-align: center; 
    padding-left: 0; 
    font-weight: bold;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    margin: 0 20px;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    overflow: hidden;
}

p {
    margin-left: 20px;
}

h1, h2, h3, h4, h5 {
    text-decoration: underline;
}

h2 {
    color: #012949;
}

h3 {
    color: #003865;
}

h4 {
    color: #114f83;
}

h5 {
    color: #22649b;
}

table {
    border-collapse: collapse;
    margin: 0px auto;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

th, td {
    padding: 2px 10px;
}

thead tr, tfoot tr {
    background-color: #003865;
    color: white;
}

tbody th, tbody td, tbody tr {
    border-top: 0;
    border-bottom: 0;
}

tbody tr:nth-child(odd) {
    background-color: #b2d5f1;
}

tbody tr:nth-child(even) {
    background-color: rgb(250, 210, 179);
}

ul.table-of-contents {
    column-count: 3; 
    list-style-type: none;
}

ul.table-of-contents li {
    text-align: center;
}

.button {
    font: bold 15px Arial;
    text-decoration: none;
    background-color: #003865;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
}

.content img {
    display: block;
    margin: 0px auto;
    border: solid #003865 5px;
    border-radius: 5px;
    width: 90%;
    margin-bottom: 20px;
}

.nav img {
    width: 50%;
    display: block;
    margin: 0px auto;
}

.intro h1, .intro h2, .intro h3, .intro h4, .intro h5, .intro p {
    display: inline;
}

.content::-webkit-scrollbar-track
{
	background-color: #ddd;
}

.content::-webkit-scrollbar
{
    width: 10px;
	background-color: #ddd;
}

.content::-webkit-scrollbar-thumb
{
	background-color: #003865;
    height: 80px;
}

div > ul {
    margin-top: 0;
}

.legend2 {
    position: absolute;
    top: -0.2em;
    right: 20px;
    background: #fff;
    line-height:1.2em;
}

.center {
    text-align: center;
}